repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: pytest
        name: run pytest
        entry: python -m pytest -q
        language: system
        types: [python]
        pass_filenames: false
